.api-list {
  display: flex;
  flex-direction: column;
  gap: var(--gap-4);
  list-style-type: none;

  &__item {
    background-color: rgb(var(--color-card));
    border: 1px solid rgba(var(--color-border), 0.5);
    border-radius: 0.375rem;
    padding: var(--p-5);

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap-4);

    transition: 0.3s;
  }

  &__content {
    flex: 1;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &-top {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }

  &__title {
    font-size: var(--text-sm);
    font-weight: 600;
    color: rgb(var(--color-primary));
    font-family: var(--ff-mono);
  }

  &__tags {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__tag {
    font-size: var(--text-xs);
    padding: 2px 8px;
    border-radius: 9999px;
    background-color: rgb(var(--color-primary), 0.1);
    border: 1px solid rgba(var(--color-primary), 0.2);
    color: rgb(var(--color-primary));
  }

  &__type {
    font-size: var(--text-xs);
    background-color: rgb(var(--color-muted));
    padding: 4px 8px;
    border-radius: 0.125rem;
    width: fit-content;
    font-family: var(--ff-mono);
  }

  &__item-description {
    color: rgba(var(--color-foreground), 0.8);
    font-size: var(--text-sm);
    line-height: 1.7;
  }

  &__default {
    font-size: var(--text-xs);
    background-color: rgb(var(--color-muted), 0.5);
    padding: 4px 8px;
    border-radius: 0.125rem;
    width: fit-content;
  }
}
