@use "./../../abstracts/mixins" as *;

.content-article {
  max-width: 54rem;
  margin: 0 auto;
  padding: var(--py-6) var(--px-6) var(--py-24);

  &__top-wrapper {
    border-bottom: 1px solid rgb(var(--color-border), 0.5);
    margin-bottom: var(--mb-6);
    padding-bottom: var(--p-8);

    display: flex;
    flex-direction: column;
    gap: var(--gap-3);
  }

  &__tags {
    display: flex;
    align-items: center;
    gap: var(--gap-2);
    margin-top: var(--py-4);
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap-4);
  }

  &__title {
    font-size: var(--text-4xl);
    font-weight: 700;
    color: rgb(var(--color-foreground));

    @include respond(lg) {
      font-size: var(--text-3xl);
    }
  }

  &__description {
    font-size: var(--text-lg);
    color: rgb(var(--color-foreground), 0.6);

    @include respond(lg) {
      font-size: 1rem;
    }
  }

  &__navigation {
    display: flex;
    align-items: center;
    gap: var(--gap-2);
  }

  &__sub-description {
    line-height: 1.7;
    color: rgb(var(--color-foreground), 0.8);
  }

  &__special {
    color: rgb(var(--color-primary));
    font-weight: 500;
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: var(--gap-3);

    @include respond(lg) {
      border-top: 1px solid rgb(var(--color-border), 0.5);
      position: fixed;
      bottom: 0;
      padding: var(--p-5) var(--px-3);
      left: 0;
      z-index: 9;
      width: 100%;
      background-color: rgb(var(--background));
    }
  }

  &__bottom {
    padding: var(--p-8) 0;
    border-top: 1px solid rgb(var(--color-border), 0.5);
    text-align: center;
    font-size: var(--text-sm);
    color: rgb(var(--color-foreground), 0.6);

    @include respond(lg) {
      padding-bottom: var(--py-24);
    }
  }
}
