.best-practices {
  border: 1px solid rgb(var(--color-border), 0.5);
  padding: 2rem;
  border-radius: 0.375rem;

  background-color: rgba(var(--color-muted), 0.2);

  display: flex;
  flex-direction: column;
  gap: var(--gap-4);

  &__item {
    display: flex;
    align-items: center;
    gap: var(--gap-3);

    color: rgba(var(--color-foreground), 0.8);
    font-size: var(--text-sm);
  }

  &__marker {
    width: 4px;
    height: 4px;
    background-color: rgb(var(--color-primary));
  }
}
