@use "./../../abstracts/mixins" as *;

.controls {
  background-color: rgb(var(--color-card));
  border: 1px solid rgba(var(--color-border), 0.5);
  border-radius: 0.375rem;
  padding: 2rem;

  @include respond(md) {
    padding: 1rem;
  }

  display: flex;
  flex-direction: column;
  gap: var(--gap-4);
  margin-bottom: 2rem;

  &__title {
    font-weight: 600;
    color: rgb(var(--color-foreground));
    font-size: var(--text-base);
  }

  &__list {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap-4);

    &--grid-2 {
      grid-template-columns: repeat(2, 1fr);
    }

    @include respond(md) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    background-color: rgba(var(--color-muted), 0.5);
    border: 1px solid rgba(var(--color-border), 0.5);
    border-radius: 0.375rem;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    gap: var(--gap-2);

    &-title {
      display: flex;
      align-items: center;
      gap: var(--gap-3);
      font-size: var(--text-sm);
      font-weight: 600;
      color: rgb(var(--color-foreground));
      font-family: var(--ff-mono);
    }

    &-description {
      font-size: var(--text-xs);
      color: rgba(var(--color-foreground), 0.6);
    }
  }

  &__description {
    font-size: var(--text-sm);
    color: rgba(var(--color-foreground), 0.6);
  }
}
