.contextual {
  border-radius: 0.375rem;
  background-color: rgb(var(--color-card));
  padding: 2rem;
  border: 1px solid rgba(var(--color-border), 0.5);

  &__text {
    font-size: var(--text-sm);
    line-height: 1.6;
  }

  &__special {
    color: rgb(var(--color-primary));
  }
}
