@use "./../../abstracts/mixins" as *;

.cta {
  border: 1px solid rgb(var(--color-primary), 0.03);
  border-radius: 0.5rem;
  padding: var(--p-8);
  background-color: rgb(var(--color-primary), 0.02);

  display: flex;
  align-items: flex-start;
  gap: var(--gap-4);
  margin-bottom: var(--mb-6);

  @include respond(lg) {
    padding: var(--p-5);
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: var(--gap-4);
  }

  &__title {
    font-size: var(--text-2xl);
    font-weight: 600;
    color: rgb(var(--color-foreground));

    @include respond(lg) {
      font-size: var(--text-lg);
    }
  }

  &__description {
    color: rgb(var(--color-foreground), 0.7);

    &__actions {
      display: flex;
      align-items: center;
      gap: var(--gap-4);
    }
  }
}
