.story {
  padding: var(--p-5);
  border-radius: 0.5rem;
  background-color: rgb(var(--color-primary), 0.02);
  border: 1px solid rgb(var(--color-primary), 0.03);

  display: flex;
  flex-direction: column;
  gap: var(--gap-3);

  &__title {
    font-size: var(--text-lg);
    font-weight: 600;
    color: rgb(var(--color-foreground));
  }

  &__description {
    font-size: var(--text-sm);
    color: rgb(var(--color-foreground), 0.7);
  }
}
