@use "./../../abstracts/mixins" as *;

.timeline {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 2rem 0;
  padding-left: 2rem;
  border-left: 2px solid rgb(var(--color-border));

  @include respond(md) {
    padding-left: 1rem;
  }

  &__item {
    position: relative;
  }

  &__marker {
    position: absolute;
    left: -2.5rem;
    top: 0.25rem;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: rgb(var(--color-primary));
    border: 3px solid rgb(var(--background));

    @include respond(md) {
      left: -1.5rem;
    }
  }

  &__title {
    font-weight: 600;
    margin-bottom: 0.5rem;
  }

  &__text {
    color: rgb(var(--color-muted-foreground));
    line-height: 1.6;
  }
}
