.toc {
  display: flex;
  flex-direction: column;
  gap: var(--gap-3);

  &__title {
    font-size: var(--text-sm);
    color: rgb(var(--color-muted-foreground));
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.5px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: var(--gap-3);
  }

  &__item {
    font-size: var(--text-xs);
  }
}
