.topics {
  padding: var(--py-8) 0;
  display: flex;
  flex-direction: column;
  gap: var(--gap-4);

  &__title {
    font-size: var(--text-2xl);
    font-weight: 600;
    color: rgb(var(--color-foreground));
  }

  &__list {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: var(--gap-4);
  }

  &__item {
    background-color: rgb(var(--background), 0.02);
    border-radius: 0.5rem;
    border: 1px solid rgb(var(--color-primary), 0.03);

    padding: var(--p-5);

    display: flex;
    flex-direction: column;
    gap: var(--gap-3);

    &:hover .topics__icon {
      transform: scale(1.1);
    }

    &:hover .topics__subtitle {
      color: rgb(var(--color-foreground), 0.85);
    }

    &-top {
      display: flex;
      align-items: center;
      gap: var(--gap-3);
    }

    &-description {
      color: rgb(var(--color-foreground), 0.7);
      font-size: var(--text-sm);
      margin-bottom: var(--mb-4);
    }
  }

  &__subtitle {
    font-weight: 600;
    color: rgb(var(--color-foreground));
    transition: 0.3s;
  }

  &__icon {
    color: rgb(var(--color-primary));
    transition: 0.3s;
  }
}
