@import "swiper/css";

/* geist-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Geist";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/geist-v4-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* geist-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Geist";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/geist-v4-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* geist-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Geist";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/geist-v4-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* geist-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Geist";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/geist-v4-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --background: 248, 248, 248;
  --color-border: 229, 229, 229;
  --color-ring: 161, 161, 161;
  --color-foreground: 10, 10, 10;
  --color-muted-foreground: 105, 105, 105;
  --color-primary-foreground: 250, 250, 250;
  --color-secondary: 245, 245, 245;
  --color-primary: 112, 52, 213;
  --color-card: 255, 255, 255;
  --color-star: 255, 215, 0;
  --color-black: 0, 0, 0;

  /* SPACING SYSTEM */

  --h-8: 2rem;
  --h-10: 2.5rem;
  --h-16: 4rem;
  --h-52: 13rem;
  --h-60: 16rem;

  --gap-2: 0.25rem;
  --gap-3: 0.5rem;
  --gap-4: 1rem;
  --gap-6: 1.5rem;
  --gap-8: 2rem;
  --gap-12: 3rem;

  --py-2: 0.5rem;
  --py-4: 1rem;
  --py-8: 2rem;
  --py-12: 3rem;
  --py-16: 4rem;
  --py-20: 5rem;
  --py-32: 8rem;
  --py-1: 0.25rem;
  --px-5: 1.5rem;
  --px-4: 1rem;
  --px-3: 0.75rem;
  --px-2: 0.5rem;
  --px-8: 2rem;
  --p-5: 1.5rem;
  --p-8: 2rem;
  --p-10: 2.5rem;

  --mb-3: 0.75rem;
  --mb-4: 1rem;
  --mb-5: 1.5rem;
  --mb-6: 2rem;
  --mb-12: 3rem;
  --mb-16: 4rem;
  --mt-12: 3rem;

  /* FONT SYSTEM */

  --text-6xl: 3.75rem;
  --text-4xl: 2.25rem;
  --text-3xl: 1.875rem;
  --text-2xl: 1.5rem;
  --text-xl: 1.25rem;
  --text-lg: 1.125rem;
  --text-sm: 0.875rem;
  --text-xs: 0.75rem;

  --color-gradient-light: 124, 58, 237;
  --color-gradient-dark: 168, 85, 247;
  --ff-primary: "Geist", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: var(--ff-primary);
}

.container {
  min-height: 100vh;
  background-color: rgb(var(--bg-background));
}

/* --- HEADER --- */

.header {
  position: sticky;
  z-index: 10;
  top: 0;
  border-bottom: 1px solid rgba(var(--color-border), 0.4);
  background-color: rgba(var(--background), 0.7);
  backdrop-filter: blur(8px);

  & .header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: var(--h-16);
  }

  & .header__actions {
    display: flex;
    align-items: center;
    gap: var(--gap-2);
  }
}

/* --- NAVIGATION --- */

.nav {
  display: flex;
  align-items: center;
  gap: var(--gap-8);
}

.nav__list {
  display: flex;
  align-items: center;
  gap: var(--gap-8);
  list-style-type: none;
}

.mobile-nav {
  display: none;
}

/* --- HERO --- */

.hero {
  position: relative;
  padding: var(--py-32) var(--px-4);
  overflow: hidden;
  color: rgb(var(--color-foreground));

  & .hero__wrapper {
    position: relative;
    z-index: 5;
    text-align: center;
    max-width: 48rem;
    margin: 0 auto;
  }

  & .hero__title {
    font-size: var(--text-6xl);
    font-weight: 700;
    margin-bottom: var(--mb-5);
    line-height: 1.25;
    text-wrap: balance;
  }

  & .hero__title-bottom {
    background: linear-gradient(
      to right,
      rgb(var(--color-gradient-light)),
      rgb(var(--color-gradient-dark))
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  & .hero__description {
    font-size: var(--text-lg);
    margin-bottom: var(--mb-6);
    text-wrap: balance;
    line-height: 1.625;
    color: rgb(var(--color-muted-foreground));
  }

  & .hero__actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap-4);
  }

  & .hero__partners {
    margin-top: var(--mt-12);
    padding-top: var(--py-12);
    border-top: 1px solid rgba(var(--color-border), 0.4);
  }

  & .hero__partners-title {
    font-size: var(--text-sm);
    margin-bottom: var(--mb-5);
    color: rgb(var(--color-muted-foreground));
  }

  & .hero__partners-list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap-8);
    flex-wrap: wrap;
    opacity: 0.5;
  }

  & .hero__partners-partner {
    font-weight: 600;
    font-size: var(--text-2xl);
  }
}

.grid-background {
  position: absolute;
  inset: 0;
  opacity: 0.03;
  pointer-events: none;
  background-image: linear-gradient(90deg, currentColor 1px, transparent 1px),
    linear-gradient(currentColor 1px, transparent 1px);
  background-size: 40px 40px;
}

.subtitle-wrapper {
  display: inline-block;
  margin-bottom: var(--mb-4);
  padding: var(--py-1) var(--px-3);
  border-radius: 9999px;
  border: 1px solid rgba(var(--color-border), 0.5);
  background-color: rgba(var(--color-secondary), 0.3);
  backdrop-filter: blur(8px);
}

.subtitle {
  font-size: var(--text-xs);
  color: rgba(var(--color-foreground), 0.7);
  font-weight: 500;
}

/* --- OVERVIEW --- */

.overview {
  padding: var(--py-12) var(--px-4);

  & .overview__wrapper {
    max-width: 64rem;
    margin: 0 auto;
  }

  & .overview__content {
    text-align: center;
    margin-bottom: var(--mb-16);
  }

  & .overview__title {
    font-size: var(--text-4xl);
    font-weight: 700;
    margin-bottom: var(--mb-4);
  }

  & .overview__description {
    color: rgb(var(--color-muted-foreground));
  }

  & .overview__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    list-style-type: none;
    gap: var(--gap-6);
  }

  & .overview__item {
    transition: 0.3s;
    border: 1px solid rgb(var(--color-border), 0.5);
    background-color: var(--color-card);
    color: rgb(var(--color-foreground));
    display: flex;
    flex-direction: column;
    gap: var(--gap-6);
    padding: var(--p-5);
    border-radius: 11px;

    justify-content: flex-start;

    &:hover {
      border: 1px solid rgb(var(--color-border), 0.8);
    }
  }

  & .overview__subtitle {
    font-weight: 600;
    font-size: var(--text-xl);
  }

  & .overview__subdescription {
    color: rgb(var(--color-muted-foreground));
  }

  & .overview__image {
    margin-bottom: var(--mb-4);
  }
}

/* --- EXAMPLE --- */

.example {
  width: 100%;
  & .example__title {
    font-weight: 600;
    font-size: var(--text-lg);
  }

  & .example__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--gap-8);
    padding: var(--py-12) 0;
    min-height: var(--h-52);
  }

  & .example__content--big {
    .button {
      width: 40%;
    }
  }

  & .example__code {
    padding: 0.75rem;
    background-color: rgb(var(--color-secondary));
    border-radius: inherit;
    font-size: var(--text-sm);
    overflow-x: auto;

    display: flex;
    flex-direction: column;
    gap: var(--gap-4);

    & .example__code-content {
      display: flex;
      flex-direction: column;
      gap: var(--gap-2);
    }

    & .example__code-item {
      display: flex;
      flex-direction: column;
      gap: var(--gap-4);

      &:not(:last-child) {
        padding-bottom: var(--py-4);
        border-bottom: 1px solid rgb(var(--color-border));
      }
    }

    & .example__code-subtitle {
      text-transform: uppercase;
      color: rgb(var(--color-primary));
      font-weight: 600;
    }
  }
}

/* --- REVIEWS --- */

.review {
  border: 1px solid rgb(var(--color-border), 0.5);
  border-radius: 11px;
  background-color: rgb(var(--color-card));
  padding: var(--p-10);
  backdrop-filter: blur(8px);

  & .review__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gap-8);
    align-items: center;
  }

  & .review__image-container {
    position: relative;
    height: 100%;
    border-radius: 11px;
    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(var(--color-black), 0.15);
    }

    &:hover .review__image {
      transform: scale(1.03);
    }
  }

  & .review__general {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--gap-3);
    height: 100%;
  }

  & .review__tags {
    display: flex;
    gap: var(--gap-2);
  }

  & .review__stars {
    margin-bottom: var(--mb-3);
  }

  & .review__author {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: var(--gap-2);

    & .review__author-name {
      font-weight: 600;
      font-size: var(--text-lg);
      color: rgb(var(--color-foreground));
    }

    & .review__author-job {
      font-size: var(--text-sm);
      color: rgb(var(--color-muted-foreground));
    }
  }

  & .review__text {
    font-size: var(--text-lg);
    color: rgb(var(--color-foreground));
    line-height: 1.6;
    margin-bottom: var(--mb-3);
  }

  & .review__list {
    display: flex;
    flex-direction: column;
    gap: var(--gap-4);
    margin-bottom: var(--mb-3);
  }

  & .review__list-text {
    font-size: var(--text-sm);
    color: rgb(var(--color-foreground));
  }

  & .review__best {
    display: flex;
    flex-direction: column;
    gap: var(--gap-3);
    list-style-type: none;

    & .review__best-item {
      display: flex;
      align-items: center;
      gap: var(--gap-3);
      font-size: var(--text-sm);
      color: rgb(var(--color-primary));
    }

    & .review__best-marker {
      color: rgb(var(--color-primary));
    }
  }

  & .review__image {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;

    transition: 0.6s;
  }
}

/* --- FOOTER --- */

.footer {
  border-top: 1px solid rgb(var(--color-border), 0.4);
  background-color: rgb(var(--color-secondary), 0.3);
  padding: var(--py-12) var(--px-4);

  & .footer__wrapper {
    max-width: 64rem;
    margin: 0 auto;
  }

  & .footer__top-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap-12);
    margin-bottom: var(--mb-12);
  }

  & .footer__title {
    font-weight: 600;
    color: rgb(var(--color-foreground));
    margin-bottom: var(--mb-4);
  }

  & .footer__description {
    font-size: var(--text-sm);
    color: rgb(var(--color-muted-foreground));
  }

  & .footer__subtitle {
    font-weight: 600;
    color: rgb(var(--color-foreground));
    margin-bottom: var(--mb-4);
    font-size: var(--text-sm);
  }

  & .footer__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: var(--gap-2);
  }

  & .footer__bottom-wrapper {
    border-top: 1px solid rgb(var(--color-border), 0.4);
    padding: var(--py-8) 0 0;
  }

  & .footer__bottom-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap-4);
  }

  & .footer__copyright {
    font-size: var(--text-sm);
    color: rgb(var(--color-muted-foreground));
  }

  & .footer__socials {
    list-style: none;
    display: flex;
    align-items: center;
    gap: var(--gap-2);
  }
}

/* --- REUSEABLE --- */

.tag {
  display: flex;
  align-items: center;
  gap: var(--gap-2);
  padding: var(--py-1) var(--px-2);
  border-radius: 9px;
  font-size: var(--text-xs);
  font-weight: 700;
  text-transform: uppercase;
}

.tag--verified {
  background-color: rgb(var(--color-primary));
  color: rgb(var(--color-primary-foreground));
}

.tag--premium {
  background-color: rgb(var(--color-star));
  color: rgb(var(--color-foreground));
}

.wrapper {
  --width: 80rem;
  max-width: var(--width);
  margin: 0 auto;

  padding: 0 var(--px-8);
}

.logo {
  --size: 2rem;
  width: var(--size);
  height: var(--size);
}

.link {
  &:link,
  &:visited {
    display: inline-block;
    text-decoration: none;
  }
}

.link--navigation {
  &:link,
  &:visited {
    font-size: var(--text-sm);
    color: rgb(var(--color-muted-foreground));
    outline: none;
    transition: 0.3s;
  }

  &:hover {
    color: rgb(var(--color-foreground));
  }

  &:focus-visible {
    box-shadow: 0 0 0 3px rgb(var(--color-primary));
  }
}

.link--footer {
  &:link,
  &:visited {
    font-size: var(--text-sm);
    color: rgb(var(--color-muted-foreground));
    outline: none;
    transition: 0.3s;
  }

  &:hover {
    color: rgb(var(--color-foreground));
  }

  &:focus-visible {
    box-shadow: 0 0 0 3px rgb(var(--color-primary));
  }
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3);
  white-space: nowrap;
  border-radius: 0.375rem;
  font-size: var(--text-sm);
  font-weight: 500;
  transition: 0.2s;
  cursor: pointer;
  font-family: inherit;
  border: none;
  outline: none;
  background-color: transparent;
  text-decoration: none;
}

.button:disabled {
  pointer-events: none;
  opacity: 0.5;
}

.button:focus-visible {
  border: 1px solid rgb(var(--color-ring));
  box-shadow: 0 0 0 3px
    color-mix(in srgb, rgb(var(--color-ring)) 50%, transparent);
}

.button svg {
  pointer-events: none;
}

.button--primary {
  position: relative;
  background-color: rgb(var(--color-primary));
  color: rgb(var(--color-primary-foreground));
  outline: none;

  z-index: 8;

  &:hover {
    background-color: rgba(var(--color-primary), 0.9);
  }

  &:focus-visible {
    outline: 2px solid rgb(var(--color-primary));
    outline-offset: 2px;
    border: none;
    box-shadow: none;
  }
}

.button--outline {
  border: 1px solid rgb(var(--color-border));
  background-color: rgb(var(--background));
  color: rgb(var(--color-text-foreground));

  &:focus-visible {
    outline: 2px solid rgb(var(--color-border));
    outline-offset: 2px;
    box-shadow: none;
  }
}

.button--default {
  height: 2.25rem;
  padding: var(--py-2) var(--px-4);
}

.button--sm {
  height: var(--h-8);
  padding: var(--py-2) var(--px-3);
  gap: 0.375rem;
  border-radius: 0.375rem;
}

.button--lg {
  height: var(--h-10);
  padding: var(--py-2) var(--px-5);
  border-radius: 0.375rem;
  gap: 0.25rem;
}

.button--icon {
  --size: 2.25rem;
  width: var(--size);
  height: var(--size);
}

.button--hamburger {
  display: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.body--no-scroll {
  overflow: hidden;
  height: 100vh;
}

/* --- SWIPER --- */

.custom-swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3);
  width: 3.5rem;
  margin: 1rem auto 0;
}

.pagination-item {
  --size: 0.5rem;
  width: var(--size);
  height: var(--size);
  border-radius: 9999px;
  border: 1px solid rgb(var(--color-border));
  transition: 0.3s;
}

.pagination-item.pagination-item--active {
  flex: 1;
  background-color: rgb(var(--color-primary));
  border-color: rgb(var(--color-primary));
}

/* --- MEDIA --- */

@media (max-width: 64rem) {
  .wrapper {
    padding: 0 var(--px-5);
  }
}

@media (max-width: 40rem) {
  .wrapper {
    padding: 0 var(--px-4);
  }

  .nav {
    display: none;
  }

  .hero {
    padding: var(--py-16) var(--px-4) var(--py-8);

    & .hero__title {
      font-size: var(--text-4xl);
    }

    & .hero__actions {
      flex-direction: column;
    }
  }

  .overview {
    padding: var(--py-8) var(--px-4);

    & .overview__items {
      grid-template-columns: 1fr;
    }

    & .example__content--big {
      .button {
        width: 30%;
      }
    }
  }

  .review {
    padding: var(--p-5);
    & .review__content {
      grid-template-columns: 1fr;
    }

    & .review__image-container {
      height: var(--h-60);
    }

    & .review__image {
      object-position: top;
    }
  }

  .footer {
    & .footer__top-content {
      grid-template-columns: 1fr;
    }

    & .footer__bottom-content {
      flex-direction: column;
      text-align: center;
    }
  }

  .button--hamburger {
    display: inline-flex;
  }

  .mobile-nav {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: var(--h-16);
    height: calc(100vh - var(--h-16));
    padding: var(--py-8) var(--px-4);
    backdrop-filter: blur(8px);
    background-color: rgb(var(--background));
    z-index: 20;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    & .nav__list {
      flex-direction: column;
      align-items: flex-start;
      gap: var(--gap-4);
    }

    & .nav__subtitle {
      font-size: var(--text-sm);
      color: rgb(var(--color-muted-foreground));
    }
  }

  .mobile-nav.open {
    display: flex;
  }

  .link--navigation {
    &:link,
    &:visited {
      font-weight: 500;
      font-size: 1.5rem;
      color: var(--color-foreground);
    }
  }
}
