.docs-section {
  padding: var(--py-6) 0;

  &__title {
    font-size: var(--text-3xl);
    font-weight: 700;
    margin-bottom: 1.5rem;
    color: rgb(var(--color-foreground));

    display: flex;
    align-items: center;
    gap: var(--gap-4);
  }

  &__icon {
    color: rgb(var(--color-primary));
    width: 2rem;
    height: 2rem;
  }

  &__text {
    font-size: var(--text-lg);
    line-height: 1.7;
    color: rgb(var(--color-muted-foreground));
    margin-bottom: 2rem;
  }
}
