.sidebar {
  padding: var(--py-6) var(--px-3);
  &__list {
    display: flex;
    flex-direction: column;
    gap: var(--gap-2);
    list-style-type: none;

    & .nav__subtitle {
      font-size: var(--text-sm);
      color: rgb(var(--color-muted-foreground));
      padding: var(--py-2) var(--px-3);
    }
  }

  & li {
    animation: fadeInLeft 0.4s ease-out backwards;

    @for $i from 1 through 18 {
      &:nth-child(#{$i}) {
        animation-delay: #{$i * 0.03}s;
      }
    }
  }
}
