.grid-background {
  animation: gridFade 1s ease-out;

  position: absolute;
  inset: 0;
  opacity: 0.03;
  pointer-events: none;
  background-image: linear-gradient(90deg, currentColor 1px, transparent 1px),
    linear-gradient(currentColor 1px, transparent 1px);
  background-size: 40px 40px;
}

.box-y {
  margin: 2rem 0;
}

.ml-4 {
  margin-left: 1rem;
}
