:root {
  --background: 248, 248, 248;
  --color-border: 229, 229, 229;
  --color-ring: 161, 161, 161;
  --color-foreground: 10, 10, 10;
  --color-muted-foreground: 105, 105, 105;
  --color-primary-foreground: 250, 250, 250;
  --color-secondary: 245, 245, 245;
  --color-primary: 112, 52, 213;
  --color-card: 255, 255, 255;
  --color-star: 255, 215, 0;
  --color-black: 0, 0, 0;
  --color-sidebar-accent: 245, 245, 245;
  --color-destructive: 231, 0, 11;
  --color-muted: 228, 228, 228;

  --h-8: 2rem;
  --h-10: 2.5rem;
  --h-16: 4rem;
  --h-52: 13rem;
  --h-60: 16rem;

  --w-44: 11rem;

  --gap-2: 0.25rem;
  --gap-3: 0.5rem;
  --gap-4: 1rem;
  --gap-6: 1.5rem;
  --gap-8: 2rem;
  --gap-12: 3rem;

  --py-2: 0.5rem;
  --py-3: 0.75rem;
  --py-4: 1rem;
  --py-6: 1.5rem;
  --py-8: 2rem;
  --py-12: 3rem;
  --py-16: 4rem;
  --py-20: 5rem;
  --py-24: 5.5rem;
  --py-32: 8rem;
  --py-1: 0.25rem;
  --px-5: 1.5rem;
  --px-4: 1rem;
  --px-3: 0.75rem;
  --px-2: 0.5rem;
  --px-6: 1.5rem;
  --px-8: 2rem;
  --p-5: 1.5rem;
  --p-8: 2rem;
  --p-10: 2.5rem;

  --mb-3: 0.75rem;
  --mb-4: 1rem;
  --mb-5: 1.5rem;
  --mb-6: 2rem;
  --mb-12: 3rem;
  --mb-16: 4rem;
  --mt-5: 1.5rem;
  --mt-12: 3rem;

  --text-6xl: 3.75rem;
  --text-4xl: 2.25rem;
  --text-3xl: 1.875rem;
  --text-2xl: 1.5rem;
  --text-xl: 1.25rem;
  --text-lg: 1.125rem;
  --text-sm: 0.875rem;
  --text-xs: 0.75rem;

  --color-gradient-light: 124, 58, 237;
  --color-gradient-dark: 168, 85, 247;
  --ff-primary: "Geist", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

$breakpoints: (
  md: 40rem,
  lg: 50rem,
  xsl: 56.25rem,
  xl: 64rem,
);
