.breadcrumbs {
  list-style: none;
  display: flex;
  align-items: center;
  gap: var(--gap-2);

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;

    animation: fadeInRight 0.4s ease-out backwards;

    @for $i from 1 through 3 {
      &:nth-child(#{$i}) {
        animation-delay: #{$i * 0.05}s;
      }
    }
  }

  &__icon {
    color: rgb(var(--color-muted-foreground));
    width: 1rem;
    height: 1rem;
  }
}
