@use "./../../abstracts/mixins" as *;

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3);
  white-space: nowrap;
  border-radius: 0.375rem;
  font-size: var(--text-sm);
  font-weight: 500;
  transition: 0.2s;
  cursor: pointer;
  font-family: inherit;
  border: none;
  outline: none;
  background-color: transparent;
  text-decoration: none;

  &__image {
    pointer-events: none;
  }

  &:focus-visible {
    border: 1px solid rgb(var(--color-ring));
    box-shadow: 0 0 0 3px
      color-mix(in srgb, rgb(var(--color-ring)) 50%, transparent);
  }

  svg {
    pointer-events: none;
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  &__icon {
    transition: transform 0.3s ease;
  }

  &--nav {
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 4px 12px rgba(var(--color-primary), 0.15);
      border-color: rgba(var(--color-primary), 0.45);

      &:first-of-type .button__icon {
        transform: translateX(-3px);
      }

      &:last-of-type .button__icon {
        transform: translateX(3px);
      }
    }

    &:active {
      transform: translateY(0);
    }
  }

  &--primary {
    position: relative;
    background-color: rgb(var(--color-primary));
    color: rgb(var(--color-primary-foreground));
    outline: none;

    z-index: 8;

    &:hover {
      background-color: rgba(var(--color-primary), 0.9);
    }

    &:focus-visible {
      outline: 2px solid rgb(var(--color-primary));
      outline-offset: 2px;
      border: none;
      box-shadow: none;
    }
  }

  &--outline {
    border: 1px solid rgb(var(--color-border));
    background-color: rgb(var(--background));
    color: rgb(var(--color-text-foreground));

    &:focus-visible {
      outline: 2px solid rgb(var(--color-border));
      outline-offset: 2px;
      box-shadow: none;
    }
  }

  &--default {
    height: 2.25rem;
    padding: var(--py-2) var(--px-4);
  }

  &--sm {
    height: var(--h-8);
    padding: var(--py-2) var(--px-3);
    gap: 0.375rem;
    border-radius: 0.375rem;
  }

  &--lg {
    height: var(--h-10);
    padding: var(--py-2) var(--px-5);
    border-radius: 0.375rem;
    gap: 0.25rem;
  }

  &--icon {
    --size: 2.25rem;
    width: var(--size);
    height: var(--size);
  }

  &--hamburger {
    display: none;

    @include respond(md) {
      display: inline-flex;
    }
  }
}
