@use "../../abstracts/mixins" as *;

.custom-swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3);
  width: 6rem;
  margin: 1rem auto;

  @include respond(md) {
    width: 5rem;
  }
}

.pagination-item {
  --size: 1.2rem;

  position: relative;
  width: var(--size);
  height: var(--size);
  border-radius: 9999px;
  border: 1px solid rgb(var(--color-border));
  transition: all 0.3s ease;
  cursor: pointer;
  background-color: transparent;

  @include respond(md) {
    --size: 1rem;
  }

  &:focus-visible {
    outline: 2px solid rgb(var(--color-primary));
    outline-offset: 2px;
  }

  &--active {
    flex: 1;
    background-color: rgb(var(--color-primary));
    border-color: rgb(var(--color-primary));
  }
}
