.custom-swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3);
  width: 3.5rem;
  margin: 1rem auto;
}

.pagination-item {
  --size: 0.5rem;
  cursor: pointer;
  width: var(--size);
  height: var(--size);
  border-radius: 9999px;
  border: 1px solid rgb(var(--color-border));
  transition: 0.3s;

  &:focus-visible {
    outline: 2px solid rgb(var(--color-primary));
    outline-offset: 2px;
  }

  &--active {
    flex: 1;
    background-color: rgb(var(--color-primary));
    border-color: rgb(var(--color-primary));
  }
}
