.tag {
  display: flex;
  align-items: center;
  gap: var(--gap-2);
  padding: var(--py-1) var(--px-2);
  border-radius: 9px;
  font-size: var(--text-xs);
  font-weight: 700;
  text-transform: uppercase;

  &--time {
    background-color: rgb(var(--background));
    color: rgb(var(--color-text-foreground));
    border: 1px solid rgb(var(--color-border));
  }

  &--verified {
    background-color: rgb(var(--color-primary));
    color: rgb(var(--color-primary-foreground));
  }

  &--premium {
    background-color: rgb(var(--color-star));
    color: rgb(var(--color-foreground));
  }
}
